/* Created by: PJ Lobetti
* Created on: Apr 2022
* This CSS file defines the style for index.html
* ICS2O-Unit2-04-HTML-AreaPer-UserInput
*/

body {
	background-color: goldenrod;
}

h1 {
	background-color: rgb(5, 6, 46);
	color: hsl(44, 86%, 48%);
	padding: 40px;
	text-align: center;
}

p {
	background-color: #dcbc18;
}
